---
layout: "layouts/base.njk"
title: Contact
---

<h1>Contact Kot</h1>

<h2>Email</h2>
<p>
    <a href="mailto:kot@kot.pink">kot@kot.pink</a>
</p>

<h2>Online Presence</h2>
<ul>
    <li>
        <a rel="me" target="_blank" href="https://github.com/kotx">GitHub</a>
    </li>
    <li>
        <a rel="me" target="_blank" href="https://bsky.app/profile/kot.pink">Bluesky</a>
    </li>
    <li>
        <a rel="me" target="_blank" href="https://awau.social/@kot">Fediverse</a>
    </li>
    <li>
        <a rel="me" target="_blank" href="https://signal.me/#eu/1VxL145e-JGLa_Nc0Yy11uXBw1jMOqw7iqYgjNWjZ09WihAO6alCMaszXL5NAP3q">Signal</a>
    </li>
</ul>

<h2>Contact form</h2>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<form method="POST" action="/api/contact">
    <label for="name">Name or email:</label>
    <input type="text" id="name" name="name" autocomplete="email" maxlength="1024" required/>
    <label for="message">Message</label>
    <textarea id="message" name="message" cols="40" rows="10" maxlength="4096" required></textarea>
    <div class="cf-turnstile" data-sitekey="0x4AAAAAABSWpSec4rpfD-qd"></div>
    <button type="submit">Send</button>
</form>
<style>
    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    input,
    textarea,
    .cf-turnstile {
        display: block;
        margin-bottom: 1rem;
    }
    button {
        padding: 0.25rem 0.5rem;
    }
</style>
