---
import ProseLayout from "../layouts/ProseLayout.astro";

import "sakana-widget/lib/index.css";
---

<ProseLayout title="404 Not Found">
	<h1>404 Not Found</h1>
	<p>Sorry, I couldn't find the page you wanted!</p>
	<p>Maybe you were looking for <a href="/">the home page</a>?</p>

	<div id="sakana-widget" class="w-52 h-52"></div>
	<script>
		import SakanaWidget from "sakana-widget";
		new SakanaWidget({ controls: false, title: true }).mount("#sakana-widget");
	</script>
</ProseLayout>
