---
import Prose from "../components/Prose.astro";
import MainLayout from "../layouts/MainLayout.astro";

import "sakana-widget/lib/index.css";
---

<MainLayout title="404 Not Found" description="uh oh!">
	<Prose>
		<h1>404 Not Found</h1>
		<p>Sorry, I couldn't find the page you wanted!</p>
		<p>Maybe you were looking for <a href="/">the home page</a>?</p>

		<div id="sakana-widget" class="h-52 w-52"></div>
		<script>
			import SakanaWidget from "sakana-widget";
			new SakanaWidget({ controls: false, title: true }).mount("#sakana-widget");
		</script>
	</Prose>
</MainLayout>
