---
import ProseLayout from "../layouts/ProseLayout.astro"
---

<ProseLayout title="404 Not Found">
    <h1>404 Not Found</h1>
    <p>Sorry, I couldn't find the page you wanted!</p>
    <p>Maybe you were looking for <a href="/">the home page</a>?</p>
</ProseLayout>