<style>
	nav ul li {
		@apply m-0 h-min list-none p-0;
	}
</style>

<nav class="text-md">
	<ul class="flex list-none items-center gap-3 font-semibold">
		<li><a href="/">Kot</a></li>
		<li><a href="https://blog.kot.pink" target="_blank">Blog</a></li>
		<li class="flex-1" aria-hidden="true"></li>
		<li><a href="https://bsky.app/profile/kot.pink" target="_blank" rel="me">Bsky</a></li>
		<li><a href="https://github.com/kotx" target="_blank" rel="me">GitHub</a></li>
		<li><a href="mailto:kot@yukata.dev" rel="me">Email</a></li>
	</ul>
</nav>
