---
import NavLink from "./NavLink.astro";
---

<nav class="text-md">
	<ul class="flex list-none items-center gap-5 font-semibold">
		<NavLink href="/">Kot</NavLink>
		<NavLink href="/blog">Blog</NavLink>
		<!-- TODO: underline bar that moves between links -->
	</ul>
</nav>
