------

<article
	class="prose prose-lg prose-pink w-full max-w-full dark:prose-invert prose-headings:mb-2 prose-headings:mt-2 prose-headings:text-pink-500 prose-h1:mb-2 prose-p:mb-4 prose-p:mt-0 prose-li:m-0 prose-li:marker:text-pink-500 dark:text-pink-50 dark:prose-headings:text-pink-300 dark:prose-li:marker:text-pink-300 dark:prose-hr:border-pink-100/30"
>
	<main>
		<slot />
	</main>
</article>
