---
layout: "layouts/base.njk"
---

<article>
    <header>
        <h1>{{ title }}</h1>
        <p>
            Published {% datetime date %}
            by <a href="/">Kot</a>
        </p>
        <p>{{ desc }}</p>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <section>
        <details id="comments">
            <summary id="commentsSummary">Comments (TODO)</summary>
        </details>
    </section>
</article>
