---
import BaseLayout from "./BaseLayout.astro";
import NavBar from "../components/NavBar.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<div class="mx-4 flex h-full flex-col gap-4 md:mx-auto md:w-2/3">
		<header class="card rounded-t-none">
			<NavBar />
		</header>
		<main class="card flex-1">
			<aside class="font-semibold text-green-600 dark:text-yellow-200">
				I'm open to employment for internships in summer 2025! Please <a href="mailto:kot+intern@yukata.dev">
					contact me via email
				</a>.
			</aside>
			<slot />
		</main>
		<footer class="card flex gap-3 rounded-b-none">
			<p class="text-neutral-700 dark:text-neutral-300">&copy; Kot 2024. All rights reserved.</p>
			<span class="flex-1"></span>
			<p><a target="_blank" href="https://github.com/kotx/kot.pink">source</a></p>
			<p><a href="mailto:kot@yukata.dev">contact</a></p>
		</footer>
	</div>
</BaseLayout>
